extends layout
block content
	div.landscape
	div.filter
	canvas#canvas
	.audio-box
		.audio-container
			.audio-cover
			.audio-view
				h3.audio-title 未知歌曲
				.audio-body
					.audio-backs
						.audio-this-time 00:00
						.audio-count-time 00:00
						.audio-setbacks
							i.audio-this-setbacks
								span.audio-backs-btn
							span.audio-cache-setbacks
				.audio-btn
					.audio-select
						.audio-prev
						.audio-play
						.audio-next
						.audio-menu
						.audio-volume
					.audio-set-volume
						.volume-box
							i
								span
					.audio-list
						.audio-list-head
							p ☺随心听
							span.menu-close 关闭
						ul.audio-inline

