div.login-card
	div.login-container
		img(src= bg)
		div.login-wrapper
			p.sys-title 模版速录系统
			div.input-group
				label.input-icon
					i.iconfont &#xe623;
				span 用户名
				input(type='text')
			div.input-group
				label.input-icon
					i.iconfont &#xe61d;
				span 密码
				input(type='password')
			div.input-group
				label.input-icon
					i.iconfont &#xe61c;
				span 验证码
				input.ver-code(type='text')
				label.server-code bpAq
			div.input-group
				button.login-btn 立即登陆